.Project {
    background-color: var(--background-color-main);
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    padding-bottom: 100px;
}

.dark {
    --background-color-main: black;
    --text-color: white;
    --block-project: #121212;
}

.light {
    --background-color-main: white;
    --text-color: black;
    --block-project: #f5f5f5;
}

.project_plot {
    font-size: 32px;
    font-weight: 800;
    position: relative;
    color: var(--text-color);
    text-align: end;
    margin-top: 150px;
    margin-bottom: 50px;
}

.project_plot:before {
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 80px;
    border-top: 7px solid var(--text-color);
    content: "";
}

.project_block {
    display: flex;
    width: 100%;
    max-width: 850px;
}

.project_appearance {
    background-color: transparent;
    width: 100%;
    max-width: 400px;
    padding: 5px;
    margin-right: 20px;
    border-radius: 10px;
}

.project_appearance img {
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
    border: 4px solid var(--text-color);
}

.project_name {
    font-size: 30px;
    font-weight: 900;
    color: var(--text-color);
}

.project_desc {
    font-size: 18px;
    font-weight: 300;
    color: #808080;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 10px;
}

.project_link {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    color: var(--text-color);
    text-decoration: none;
}

.project_link:before {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 20%;
    border-top: 3px solid var(--text-color);
    content: "";
}

.project_skils {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.project_skils div {
    background-color: white;
    border-radius: 20px;
    padding: 0px 15px 0px 15px;
    font-size: 15px;
    color: var(--background-color-main);
    background-color: var(--text-color);
    font-weight: 800;
    margin-right: 10px;
}

.project_list {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}

.wrapper_project {
    max-height: 700px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.open {
    max-height: 1390px;
}

.show_project_toggle {
    font-size: 20px;
    color: var(--text-color);
    text-align: center;
    margin-top: 100px;
    position: relative;
    width: 180px;
    margin: 0 auto;
    margin-top: 100px;
    cursor: pointer;
}

.show_project_toggle:before {
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 20%;
    border-top: 4px solid var(--text-color);
    content: "";
}
.project_info {
    width: 100%;
}

@media screen and (max-width: 1310px) {
    .project_list {
        display: block;
        margin-top: unset;
    }

    .project_block {
        max-width: unset;
        margin-bottom: 20px;
    }

    .wrapper_project {
        max-height: 800px;
    }
    .open {
        max-height: 2500px;
    }
}

@media screen and (max-width: 1000px) {
    .project_block {
        display: block;
        margin-bottom: 50px;
    }

    .project_appearance {
        height: unset;
        max-width: unset;
    }

    .wrapper_project {
        max-height: 100%;
    }

    .open {
        max-height: 100%;
    }

    .project_desc {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .project_info {
        margin-top: 30px;
    }
    .project_plot {
        margin-top: 50px;
    }
    .show_project_toggle {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .wrapper_project {
        max-height: 100%;
    }
    .open {
        max-height: 100%;
    }
    .show_project_toggle {
        margin-top: 20px;
    }
    .project_desc {
        font-size: 15px;
    }
    .Project {
        padding-bottom: 60px;
    }
}