.About {
    border-bottom: 1px solid #E7E7E7;
    background-color: var(--background-color-main);
    padding-bottom: 150px;
}

.dark {
    --background-color-main: black;
    --text-color: white;

}

.light {
    --background-color-main: white;
    --text-color: black;
}

.about_plot {
    font-size: 32px;
    font-weight: 800;
    position: relative;
    color: var(--text-color);
    padding-top: 150px;
}

.about_plot:before {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 6%;
    border-top: 7px solid var(--text-color);
    content: "";
}

.about_block img {
    width: 300px;
    height: 310px;
    border-radius: 100%;
    object-fit: contain;
    margin-right: 60px;
}

.about_block {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    margin-top: 100px;
}

.about_info h2 {
    color: var(--text-color);
    font-weight: 400;
    font-size: 30px;
}

.about_info p {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 30px;
    font-weight: 300;
    font-size: 16px;
    color: var(--text-color);
}

.about_info a {
    margin-right: 10px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}

.skils_block {
    border: 1px solid #E7E7E7;
    border-radius: 10px;
    max-width: 320px;
    width: 100%;
    padding: 20px;
    display: flex;
    background-color: white;
}

.skils_block hr {
    margin-left: 10px;
    margin-right: 10px;
}

.skils_block h2 {
    font-size: 16px;
    font-weight: 800;

}

.skils_block p {
    font-size: 12px;
    font-weight: 200;

}

.skils_list {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
}

.about_exp_list {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
}

.about_exp_block {
    display: flex;
    padding: 20px;
    border: 1px solid #E7E7E7;
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
}

.about_exp_block hr {
    margin-right: 10px;
}

.about_exp_block h2 {
    font-size: 16px;
    color: var(--text-color);
}

.about_exp_block p {
    font-size: 14px;
    color: var(--text-color);
    margin-top: 5px;
}

@media screen and (max-width: 1630px) {
    .about_block {
        width: 100%;
    }

    .skils_list {
        width: 100%;
    }

    .about_exp_list {
        width: 100%;
    }
}

@media screen and (max-width: 1320px) {
    .about_block {
        display: block;
    }

    .about_block img {
        width: 100px;
        height: 100px;
    }

    .skils_block {
        max-width: 580px;
    }

    .skils_list {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
    }

}

@media screen and (max-width: 1250px) {
    .about_exp_list {
        display: block;
    }

    .about_exp_block {
        max-width: unset;
        margin-top: 15px;
    }

    .contact_link svg {
        margin-right: 25px;
        margin-left: 25px;
    }

}

@media screen and (max-width: 1000px) {
    .about_plot {
        padding-top: 50px;
    }

    .about_block {
        margin-top: 50px;
    }
}